*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background: rgb(20, 20, 20);
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.slider {
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.image-wrapper {
  --image-size: 100%;
  display: flex;
  justify-content: center;
  flex: 0 0 var(--image-size);
  max-width: var(--image-size);
  padding-block: 2em;
}

.image-wrapper > img {
  display: block;
  max-width: 70%;
  border-radius: 0.5em;
  box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 0.54);
  position: relative;
}

.handle {
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.handle:hover {
  transform: scale(1.4);
}

.left-handle {
  left: 10%;
}

.right-handle {
  right: 10%;
}

@media screen and (width < 1200px) {
  .handle {
    font-size: 2rem;
  }
}

@media screen and (width < 900px) {
  .left-handle {
    left: 5%;
  }

  .right-handle {
    right: 5%;
  }
}

.image-wrapper > img:hover {
  transform: scale(1.3);
  transition: transform 150ms ease-in-out, border-radius 150ms ease-in-out;
  border-radius: 0;
}

.image-wrapper > .about {
  position: absolute;
  bottom: -10.5%;
  left: 4.5%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about {
  display: none;
  border: 1px solid white;
  border-left: 0;
  border-bottom: 0;
  width: 450px;
  padding: 1em;
  backdrop-filter: blur(10px);
  animation: fadeIn 300ms;
}

.about > h1 {
  font-family: "sans";
  color: white;
}

.about > p {
  font-size: 1.125rem;
  line-height: 1.5;
  color: white;
  font-family: "sans";
}
